<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-8 create-blog-container">
            <div class="card-body">
              <h3 class="card-title">Create Your Blog</h3>
              <form [formGroup]="blogForm" (ngSubmit)="create()">
                <div class="form-group">
                  <label for="title"><b>Title:</b></label>
                  <input type="text" class="form-control" id="title" formControlName="title" placeholder="Enter title">
                </div>
                <div class="form-group">
                  <label for="content"><b>Content: </b></label>
                  <textarea class="form-control" id="content" formControlName="content" rows="3"></textarea>
                </div>
                <div class="form-group">
                  <label for="author"><b>Author:</b></label>
                  <input type="text" class="form-control" id="author" formControlName="author" placeholder="Enter author name">
                </div>
                <div class="d-flex justify-content-end form-group">
                    <button type="submit" class="btn btn-success me-2"><i class="fa fa-paper-plane" aria-hidden="true"></i>&nbsp;Post</button>
                </div>
              </form>
            </div>
        </div>
    </div>
   
</div>